.card-button {
  border-radius: 3px;
  background: rgb(39, 39, 39);
  color: white;
  padding: 20px;
  border: none;
  text-align: start;
  transition: 0.25s;
  display: block;
  width: 100%;
  cursor: pointer;
}

.card-button:hover {
  background: rgb(73, 73, 73);
}
